.container {
  position: relative;
}

.button {
  font-family: 'verdana';
  font-size: 0.8em;
  user-select: none;
  height: 11vh;
  line-height: 11vh;
  cursor: pointer;
  color: #BBBBBB;
}

.generate {
  background-color: #222222;
  margin-top: -4px;
  text-align: center;
}